html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #9370db;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    height: auto;
    padding: 10px 3%;
}

#header h1 {
    font-size: 32px;
    padding-bottom: 0;
}

#header {
    background-color: rgb(139, 59, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 3%;
}

#header h1 {
    font-family: "Lalezar", system-ui;
    font-size: clamp(1.8rem, 4.5vw, 2.2rem);
    font-weight: 1000;
    font-style: normal;
    padding-bottom: 4px;
    margin: 0;
}

#login {
    width: fit-content;
    min-width: 150px;
    height: 48px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 0 0 12px;
}

#login p {
    font-family: "Lalezar", system-ui;
    font-size: clamp(1.15rem, 2.8vw, 1.25rem);
    font-weight: 1000;
    font-style: normal;
    margin: 0 12px;
}

#footer {
    clear: both;
    height: 144px;
    width: 100%;
    background-color: black;
    color: white;
    display:inline-block;
    position: relative;
    bottom: 0;
    font-family: "Lalezar", system-ui;
    font-weight: 1000;
    font-size: 16px;
    justify-content: space-between;
}

#footer ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

#footer ul li {
    display: inline;
    list-style-type: none;
    font-size: clamp(0.95rem, 3vw, 1.18rem);
    padding: 16px 16px 4px 16px;
    text-align: center;
}

#footer #instagram {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#footer #facebook {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-left: 4px;
}

#footer #copy {
    text-align: center;
    font-size: clamp(0.95rem, 3vw, 1.18rem);
}